---
import { Icon } from 'astro-icon/components'
import Layout from "../layouts/Layout.astro";
---
 <Layout>
<div class="flex space-x-3">
    <p>Formulario de contacto</p>
    <div class="flex bg-red-500 px-2 rounded-lg items-center text-white">
        <Icon name="left-arrow"/>
        <a href=""> boton 1</a>
       
    </div>
  
  <a href="" class="px-2 bg-blue-600 rounded-lg text-white">Enviar</a>
</div>
        
        <Icon name="search" size="80" class="text-green-500" />
        <Icon name="mdi:brightness-5" size="80" class="text-blue-600"/>
        <Icon name="svg-spinners:blocks-shuffle-3" size="80"  class="text-green-500"/>
        <Icon name="unjs:consola"  size="80"  />
    </div>
 </Layout>