---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<p class="font-myfont">hola mundo</p>
	<span class="text-red-500">cruel</span>
	<div class="h-[1200px]"> 
		texto largo con scroll
	</div>
</Layout>


