---

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="bg-orange-400 h-20">
		
		</header>
		<menu class="flex justify-around bg-slate-300 ">
			<li>
				<a href="/" class="hover:bg-white/30  px-4  block ">Inicio</a>
			</li>
			<li>
				<a href="/quienes-somos" class="hover:bg-white/30   px-4 block">quienes somos</a>
			</li>
			<li>
				<a href="/contactanos" class="hover:bg-white/30  px-4  block">Contactanos</a>
			</li>
			<li>
				<a href="/organigrama/biografia" class="hover:bg-white/30  px-4  block">oraganigrama</a>
			</li>
			
		</menu>
		<slot />
	</body>
	<style is:global>
		@font-face {
  font-family: 'playwrite GB S', cursive;
  src: url('/fonts/DistantGalaxy.astro') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
	</style>
</html>

